.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  min-width: 1200px; /* 최소 너비 설정 */
  min-height: 500px; /* 최소 높이 설정 */
  margin: auto;
}
