/* ReviewList.css */

/* 리뷰 페이지를 탐색하는 데 사용되는 페이지네이션 스타일 */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination a {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 5px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination a:hover {
  background-color: #f5f5f5;
}

.pagination a.active {
  background-color: #ec7357;
  color: #fff;
  border: 1px solid #ec7357;
}

/* 리뷰 목록 전체를 감싸는 컨테이너 */
.review-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 페이지네이션 섹션을 위한 컨테이너 */
.pagination-container {
  width: 100%;
  margin-top: 20px;
  width: 1000px; /* 가독성을 위해 폭 제한 */
}

/* 페이지네이션 자체의 스타일링 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* 새 리뷰 작성 버튼 스타일 */
.write-button {
  background-color: #ec7357;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "NanumGothic", sans-serif;
  white-space: nowrap; /* 줄 바꿈 방지 */
}

/* 리뷰 목록을 표시하는 테이블의 스타일 */
.review-table {
  font-size: 18px;
  width: 1000px; /* 가독성을 위해 폭 제한 */
  border-collapse: collapse;
  font-family: "NanumGothic", sans-serif;
  text-align: center;
  margin-top: 20px; /* 테이블과 페이지네이션 간의 여백 증가 */
}

.review-table th,
.review-table td {
  border: none;
  padding: 8px;
  color: black;
}

/* 리뷰 제목에 대한 스타일링, 너비 제한 및 오버플로우에 대한 생략 부여 */
.review-table th.review-title,
.review-table td.review-title {
  text-align: left;
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  overflow: hidden;
  text-overflow: ellipsis; /* 텍스트 넘칠 경우 생략 (...) 표시 */
  width: 50%; /* 50%로 변경 */
}

/* 테이블 행 및 셀에 대한 테두리 스타일링 */
.review-table tr:not(:first-child) td {
  border-top: 1px solid #ddd;
}

.review-table tr:first-child td {
  border-top: 2px solid #000;
}

.review-table tr:last-child td {
  border-bottom: 2px solid #000;
}

/* 리뷰 제목을 나타내는 링크에 대한 스타일 */
.review-title a {
  color: black;
  text-decoration: none;
  width: 100%;
}

/* 리뷰 제목 링크에 대한 호버 효과 */
.review-title a:hover {
  text-decoration: underline;
}
