/* ReviewList.css */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination a {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 5px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination a:hover {
  background-color: #f5f5f5;
}

.pagination a.active {
  background-color: #ec7357;
  color: #fff;
  border: 1px solid #ec7357;
}

.review-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-container {
  width: 100%;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.write-button {
  background-color: #ec7357;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "NanumGothic", sans-serif;
  white-space: nowrap;
}

.review-table {
  font-size: 18px;
  width: 1000px;
  border-collapse: collapse;
  font-family: "NanumGothic", sans-serif;
  text-align: center;
}

.review-table th,
.review-table td {
  border: none;
  padding: 8px;
  color: black;
}

.review-table th.review-title,
.review-table td.review-title {
  text-align: left;
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  overflow: hidden;
  text-overflow: ellipsis; /* 텍스트 넘칠 경우 생략 (...) 표시 */
  width: 50%; /* 50%로 변경 */
}

.review-table tr:not(:first-child) td {
  border-top: 1px solid #ddd;
}

.review-table tr:first-child td {
  border-top: 2px solid #000;
}

.review-table tr:last-child td {
  border-bottom: 2px solid #000;
}

.review-title a {
  color: black;
  text-decoration: none;
  width: 100%;
}

.review-title a:hover {
  text-decoration: underline;
}

.post-title {
  width: 1000px;
}

button {
  position: relative;
  left: -210px;
}