.myPageBtn {
  height: 30px;
  font-size: 15px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-family: "NanumGothic";
  font-weight: 500;
}

.myPageBtn:hover {
  background-color: #e9e9e9;
}
