.main-review-card {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  margin: auto;
  max-width: 80%;
  scroll-behavior: smooth;
}

.main-review-card .review-card-image {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 21px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.main-review-card .review-card-author {
  margin-bottom: 10px;
}

.main-review-card .review-card-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.main-review-card .review-card-details {
  display: flex;
  flex-direction: column; /* 컨텐츠를 세로로 배치 */
  float: left;
  margin-left: 30px;
  margin-top: -20px;
}

.main-review-card .review-card-image {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 21px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.review-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-review-card .review-card-content-box {
  background-color: #F1F1F1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 452px;
  height: 165px;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.main-review-card .review-card-info {
  display: flex;
  justify-content: space-between;
}
.review-card-date {
  float: left;
}

.main-review-card .recipe-card-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
}

.main-review-card .review-card-likes,
.main-review-card .review-card-views {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.main-review-card .count {
  display: flex;
}

.review-card {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  margin: auto;
  max-width: 80%;
  scroll-behavior: smooth;
}

.review-card-image {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 21px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}



.review-card-details {
  float: left;
  margin-left: 30px;
  margin-top: -20px; 
}

.review-card-image img {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 21px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.review-card-author {
  margin-bottom: 10px;
}

.review-card-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.review-card-content {
  padding-bottom: 120px;
}

.review-card-content-box {
  background-color: #F1F1F1;
  padding: 20px;
  width: 452px;
  height: 165px;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.review-card-info {
  display: flex;
  justify-content: space-between;
}
.review-card-date {
  float: left;
}

.recipe-card-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
}

.review-card-likes,
.review-card-views {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.count {
  display: flex;
}

.review-card-likes:before,
.review-card-views:before {
  content: "";
  display: inline-block;
  margin-right: 3px;
}

.review-card-likes:before {
  background-image: url("/public/images/like-icon.svg");
  width: 1rem;
  height: 1rem;
  background-size: cover;
}

.review-card-views:before {
  background-image: url("/public/images/view-icon.svg");
  width: 1rem;
  height: 1rem;
  background-size: cover;
}.main-review-card .review-card-views:before {
  content: "";
  display: inline-block;
  margin-right: 3px;
}

.main-review-card .review-card-likes:before {
  background-image: url("/public/images/like-icon.svg");
  width: 1rem;
  height: 1rem;
  background-size: cover;
}

.main-review-card .review-card-views:before {
  background-image: url("/public/images/view-icon.svg");
  width: 1rem;
  height: 1rem;
  background-size: cover;
}