.review-card {
  display: flex;
  padding: 10px;
  flex-direction: row;
}

.review-card-container {
  margin-left: 15px;
}

.review-card-image {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 21px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
