.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  overflow: hidden;
  box-sizing: border-box;
}

.header h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.inputDiv {
  position: relative;
  width: 740px;
  height: 60px;
  margin-bottom: 30px;
}

.inputDiv input {
  width: calc(100% - 75px);
  height: 100%;
  margin-left: 75px;
  padding: 0 15px;
  border: 1px solid #a0a0a0;
  font-size: 16px;
  box-sizing: border-box;
}

.labelWithImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 60px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #a0a0a0;
  box-sizing: border-box;
  opacity: 0.6;
}

.account {
  background-image: url("../../assets/Account.svg");
}

.password {
  background-image: url("../../assets/Lock.svg");
}

.ConfirmPassword {
  background-image: url("../../assets/Lock.svg");
}

.email {
  background-image: url("../../assets/Mail.svg");
}

.nickname {
  background-image: url("../../assets/Nametag.svg");
}

.inputDiv input::placeholder {
  font-size: 20px;
  color: #a0a0a0;
}

.inputDiv input:focus {
  border-color: #66afe9;
  outline: none;
}

.signupsibmitBtn {
  width: 740px;
  height: 70px;
  color: #ffffff;
  background-color: #ec7357;
  font-size: 28px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 85px;
  text-align: left;
}

.errorInput {
  border-color: red;
}

.inputGroup {
  position: relative;
  display: flex;
  width: 740px; 
  height: 60px;
}

.inputGroup input {
  flex-grow: 1;
  height: 100%;
  padding-right: 90px; /* 버튼의 너비만큼 여유 공간 확보 */
  border-right: none; /* 오른쪽 테두리 제거 */
}

.inputGroup button {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px; /* 버튼의 너비 설정 */
  height: 100%;
  border: 1px solid #a0a0a0;
  color: white;
  background-color: #a0a0a0;
  box-sizing: border-box;
}

.successMessage {
  color: blue;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 85px;
  text-align: left;
}