.add-recipe-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  margin: auto;
}

.add-recipe-page .recipe-add-header {
  font-size: 1.6rem;
  font-weight: 500;
  align-self: flex-start;
}

.add-recipe-page .recipe-info-section {
  width: 100%;
}

.recipe-info-section .recipe-info-contents {
  display: flex;
}

.recipe-info-section .img-add-area {
  flex: 1 1 40%;
  background-color: #a0a0a0;
  margin: 20px;
}

.recipe-info-section .contents-add-area {
  flex: 1 1 40%;
  flex-direction: column;
}
