.ranking {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* 중앙 정렬 */
}

.ranking-buttons {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #a0a0a0;
}

.ranking-buttons button {
  min-width: 120px;
  height: 60px;
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
  font-family: "NanumGothic";
  font-size: 1rem;
  font-weight: 500;
  border-style: none;
  position: relative;
}

.ranking-buttons button.active {
  border: 1px solid #a0a0a0;
  border-bottom: none;
  bottom: -1px;
}

.ranking-buttons button.active .ranking-text {
  transform: translateY(-1px);
}
