html {
  overflow-y: scroll;
}

.recipe-view-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.sort-button-container {
  position: relative;
}

.sort-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.sort-button:hover {
  background-color: #0056b3;
}

.sort-menu {
  position: absolute;
  top: -100%;
  right: 0;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.sort-option {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: black;
  text-align: left;
  cursor: pointer;
}

.sort-option:hover,
.sort-option.active {
  background-color: #007bff;
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
