#franchise-header {
  height: 54px;
  font-size: 28px;
  padding-top: 25px;
  padding-left: 10px;
  background-color: #EC7357;
  color: #ffffff;
  }
  
  #main-franchise-bar {
    width: 1179px;
    height: 58px;
    display: flex;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
  }
  #franchise-bar{
    width: 1179px;
    height: 58px;
    display: flex;
    border-bottom: 1px solid #D9D9D9;
  }

  .franchise-add-btn{
    width: 100%;
    height: 5%;
    position: absolute;
    font-size: 25px;
    color: white;
    bottom: 0;
    background-color: #EC7357;
    border:1px solid #EC7357;
  }
  
  /* exam 내부 div들 */
  .exam-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .name {
    width: 467px;
    height: 58px;
  }
  
  .background-color {
    width: 220px;
    height: 58px;
  }
  
  .text-color {
    width: 220px;
    height: 58px;
  }
  
  .tag-image {
    width: 150px;
    height: 58px;
    
  }

  .main-image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .remove {
    width: 150px;
    height: 58px;
  }
  .wrap-modal{
    width: 100%;
    height: 100%;
    color: rgb(1, 1, 1);
  }

  .custom-modal {
    width: 500px;
    height: 500px;
    transform: translate(50%, 50%);
    overflow: auto;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid #949494;
  }

  .modal-top{
    width: 100%;
    height: 60px;
    justify-content: center;
    display: flex;
    font-size: 25px;
  }

  .wrap-modal{
    height: 355px
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  .modal-form label {
    margin-bottom: 10px;
  }
  
  .modal-form input {
    padding: 8px;
    width: 200px;
    margin-bottom: 15px;
  }
  
  .modal-form button {
    padding: 10px;
    background-color: #737373;
    width: 100px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
  }