.report-add-modal {
    position: relative;
    margin: auto;
    width: 500px;
    height: 300px;
    margin-top: 200px;
    overflow: auto;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid #949494;
  }
  
  .report-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .report-modal-top {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .report-wrap-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  .report-btn-wrap{
    display: flex;
  }

  .report-modal-text{
    margin-bottom: 9px;
  }
  
  #reportContent {
    width: 500px;
    height: 60px;
    padding: 5px;
    margin-top: 10px;
  }
  
  .report-add-button {
        font-size: 17px;
        font-weight: bold;
        border: #414141;
        background-color: #ffffff;
        border: 2px solid #000;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        margin: 5px;
  }