.search-bar {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #e8e8e8;
  margin-right: 10px;
}

.search-icon-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-input {
  width: 130px;
  height: 30px;
  padding: 0;
  background-color: #e8e8e8;
  border: none;
}

.search-icon {
  width: 20px;
  height: 20px;
}
