.recipe-pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #a0a0a0;
  cursor: pointer;
}

.page-link img {
  width: 20px;
  height: auto;
}

.page-link:hover {
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  color: #ffffff;
  background-color: #ec7357;
  border-color: #ec7357;
}

ul {
  list-style: none;
  padding-left: 0px;
}
