#main-ingredient-bar {
  width: 1180px;
  height: 58px;
  display: flex;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  background-color: #D9D9D9;
}

#ingredient-bar {
  width: 1179px;
  height: 58px;
  display: flex;
  border-bottom: 1px solid #D9D9D9;
}

.inner-ingredient-bar{
  width: 1179px;
  height: 1100px;
}

.ingredient-add-btn {
    width: 1182px;
    height: 80px;
    font-size: 25px;
    color: white;
    bottom: 0;
    background-color: #EC7357;
    border: 1px solid #EC7357;
}


/* exam 내부 div들 */
.exam-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.ingredient-name {
  width: 560px;
  height: 58px;
}

.unit {
  width: 500px;
  height: 58px;
}

.remove {
  width: 120px;
  height: 58px;
}